#profileImage *{
	display: block;
    margin-left: auto;
	margin-right: auto;
}

ion-icon[name=images] {	
    border: #FFFFFF 2px solid;    
    border-radius: 50%;
    background-color: #2155AA;    
    font-size: 35px;
		padding: 15px;	
}