<ion-header>
  <ion-navbar align-title="center">
    <ion-title>Alterar Grupo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <div class="login-box">
    <form #newGroupForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-item>
              <ion-label floating>Disciplina: </ion-label>
              <ion-input type="text" [(ngModel)]="group.discipline" name="disciple" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Objetivo da Disciplina: </ion-label>
             <ion-textarea rows="4" type="text" [(ngModel)]="group.description" name="description" required></ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label floating>Turma</ion-label>
              <ion-input type="text" [(ngModel)]="group.academicClass" name="academicClass" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Inicício da Disciplina</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MMM/YYYY" [(ngModel)]="group.dateStart" name="dateStart" required></ion-datetime>
            </ion-item>
            
            <ion-item>
              <ion-label floating>Encerramento da Disciplina</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" [max]="2050" pickerFormat="DD/MMM/YYYY" [(ngModel)]="group.dateEnd" name="dateEnd" required></ion-datetime>
            </ion-item>

            <!-- HORÁRIO DAS AULAS -->
            <ion-item>
              <ion-label style="text-align: center">Horário das Aulas</ion-label>
              <ion-icon item-right name="add-circle" color="secondary" (click)="addClassSchedule()"></ion-icon>
            </ion-item>

            <div *ngFor="let classSchedule of group.classSchedule; let i = index">
              <div *ngIf="!classSchedule.removed">
                <ion-icon item-left name="remove-circle" style="font-size: 25px;" color="danger" (click)="removeItem(classSchedule)"></ion-icon>
                <ion-item>
                  <ion-label floating>Dia na samana</ion-label>
                  <ion-select [(ngModel)]="classSchedule.dayOfWeek" name="classSchedule.dayOfWeek{{i}}">
                    <ion-option value="SEGUNDA">Segunda-Feira</ion-option>
                    <ion-option value="TERÇA">Terça-Feira</ion-option>
                    <ion-option value="QUARTA">Quarta-Feira</ion-option>
                    <ion-option value="QUINTA">Quinta-Feira</ion-option>
                    <ion-option value="SEXTA">Sexta-Feira</ion-option>
                    <ion-option value="SÁBADO">Sábado</ion-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label floating>Hora de início</ion-label>
                  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="classSchedule.startTime" name="classSchedule.startTime{{i}}" required></ion-datetime>
                </ion-item>

                <ion-item>
                  <ion-label floating>Hora de termino</ion-label>
                  <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="classSchedule.endTime" name="classSchedule.endTime{{i}}" required></ion-datetime>
                </ion-item>
              </div>
            </div>

             <!-- ATIVIDADES PROGRAMADAS -->
            <ion-item>
              <ion-label style="text-align: center">Atividades Programadas</ion-label>
              <ion-icon item-right name="add-circle" color="secondary" (click)="addScheduledActivity()"></ion-icon>
            </ion-item>

            <div *ngFor="let scheduledActivity of group.scheduledActivity; let i = index">
              <div *ngIf="!scheduledActivity.removed">
                <ion-icon item-left name="remove-circle" style="font-size: 25px;" color="danger" (click)="removeItem(scheduledActivity)"></ion-icon>
               
                <ion-item>
                    <ion-label>Descrição da atividade</ion-label>
                    <ion-textarea rows="4" type="text" [(ngModel)]="scheduledActivity.description" name="scheduledActivity.description{{i}}" required></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label floating>Data de envio</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="scheduledActivity.sendDate" name="scheduledActivity.sendDate{{i}}" required></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label floating>Data de entrega</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="scheduledActivity.deliveryDate" name="scheduledActivity.deliveryDate{{i}}" required></ion-datetime>
                </ion-item>

              </div>
            </div>

             <!-- PROVAS DA DISCIPLINA -->
            <ion-item>
              <ion-label style="text-align: center">Provas da Disciplina</ion-label>
              <ion-icon item-right name="add-circle" color="secondary" (click)="addProof()"></ion-icon>
            </ion-item>

            <div *ngFor="let proof of group.proof; let i = index">
                <div *ngIf="!proof.removed">
                    <ion-icon item-left name="remove-circle" style="font-size: 25px;" color="danger" (click)="removeItem(proof)"></ion-icon>
                <ion-item>
                    <ion-label floating>Assuntos da prova</ion-label>
                    <ion-textarea rows="4" type="text" [(ngModel)]="proof.subjects" name="proof.subjects{{i}}" required></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label floating>Data da prova</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" [max]="2050" pickerFormat="DD/MM/YYYY" [(ngModel)]="proof.dateProof" name="proof.startTime{{i}}" required></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label floating>Valor em pontos</ion-label>
                    <ion-input type="number" [(ngModel)]="proof.value" name="proof.value{{i}}" required></ion-input>
                </ion-item>
                
                </div>
            </div>

          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="update()" [disabled]="!newGroupForm.form.valid">Editar</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>