<ion-header>
  <ion-navbar>
    <ion-title >Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid style="background-color: cornflowerblue; height:35%; color:white">
    
    <ion-row class="header">
      <ion-col col-4>
        <ion-avatar>
          <img src="assets/imgs/Linux_Tux_852.png" class="image circle-pic" />
        </ion-avatar>
      </ion-col>

      <ion-col col-8>
        <div class="button-container">
          <button class="icons" style="border: none;" 
          (click)="newGroup()"
          *ngIf="loggedUser.user.typeUser === 'TEACHER'">
            <ion-icon name="add-circle"></ion-icon>
          </button>
          <button class="icons">
            <ion-icon name="settings"></ion-icon>
          </button>
          <button class="icons" (click)="logout()">
            <ion-icon name="exit"></ion-icon>
          </button>
        </div>
        <h4>{{loggedUser.name}}</h4>
        <p>{{loggedUser.user.username}} || {{loggedUser.email}}</p> 
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-list-header>
      Groups
    </ion-list-header>
    <ion-list>
      <ion-item *ngFor="let group of loggedUser.groups" (click)="selectGroup(group)">
        <ion-avatar item-start>
          <img src="assets/imgs/sobre.png">
        </ion-avatar>
        <h2>{{group.discipline}}</h2>
        <p>{{group.academicClass}}</p>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>